<div class="card adminic col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <h4>
    {%  if collection_url is not empty %}
      <a href="{{ collection_url }}" class="action add-action">{{ title }}</a>
    {% else %}
      {{ title }}
    {% endif %}
  </h4>
  <div class="details-wrapper">
    {% if links -%}
      <ul>
        {%- for item in links -%}
          <li class="content-link-page content-link-page-{{ item.bundle }}">
            {%  if item.list_url is not empty %}
              <a href="{{ item.list_url }}" class="list-url">{{ item.name }}</a>
            {% else %}
              <b>{{ item.name }}</b>
            {% endif %}
            {{ item.actions }}
          </li>
        {%- endfor -%}
      </ul>
    {% endif %}
    {% if add_bundle_url is not empty %}
      <div class="add-bundle">
        {% if add_bundle_text is not empty %}
          <a href="{{ add_bundle_url }}">{{ add_bundle_text }}</a>
        {% else %}
          <a href="{{ add_bundle_url }}">{{ 'Add Bundle'|t }}</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
