<div class="content">
  <h4>
    {%  if collection_url is not empty %}
      <a href="{{ collection_url }}" class="action add-action">{{ title }}</a>
    {% else %}
      {{ title }}
    {% endif %}
  </h4>
  {% if links -%}
    <ul>
      {%- for item in links -%}
        <li class="content-link content-link-{{ item.bundle }}">
          {%  if item.list_url is not empty %}
            <a href="{{ item.list_url }}" class="list-url">{{ item.name }}</a>
          {% else %}
            <b>{{ item.name }}</b>
          {% endif %}
          <span class="actions">
            {%  if item.add_url is not empty %}
              <a href="{{ item.add_url }}" class="action add-action">{{ 'Add'|t }}</a>
            {% endif %}
            {%  if item.edit_url is not empty %}
              <a href="{{ item.edit_url }}" class="action edit-action">{{ 'Edit'|t }}</a>
            {% endif %}
          </span>
        </li>
      {%- endfor -%}
    </ul>
  {% endif %}
  {% if add_bundle_url is not empty %}
    <div class="add-bundle">
      {% if add_bundle_text is not empty %}
        <a href="{{ add_bundle_url }}">{{ add_bundle_text }}</a>
      {% else %}
        <a href="{{ add_bundle_url }}">{{ 'Add Bundle'|t }}</a>
      {% endif %}
    </div>
  {% endif %}
</div>
